[Unit]
Description=run cameraserver to capture situation in station, created by Nikolay Rulev
After=network.target

[Service]
Restart=always
User=pi
Group=www-data
WorkingDirectory=/home/pi/Rpi-and-arduino/workers
ExecStart=/usr/bin/python3 camera.py

[Install]
WantedBy=multi-user.target
